In [1]:
import pandas as pd

In [2]:
df=pd.read_parquet("datasetml/df_mlfinal.parquet")

In [3]:
df

,title,id,userId,score,countUser
0,the grand seduction,as1,2523,3.5,234
1,elon musk: the real life iron man,as15,2523,3.5,234
2,world war ii: saving the reality,as69,2523,4.0,234
3,ufotv presents the day before disclosure,as238,2523,4.0,234
4,the wedding night,as400,2523,4.5,234
...,...,...,...,...,...
2748513,kanika,ns7169,15556,3.0,56
2748514,ocean's twelve,ns7640,15556,3.5,56
2748515,superfly,ns8128,15556,1.0,56
2748516,the model,ns8426,15556,2.0,56
2748517,yes or no,ns8778,15556,2.5,56

In [4]:

from surprise import Dataset
from surprise import Reader

In [5]:
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(df[["userId","id","score"]],reader=reader)

In [6]:
from surprise import SVD,KNNBasic
from surprise.model_selection import cross_validate

In [9]:
#sim_options = {'name': 'cosine'}

In [19]:
model=SVD()
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9426  0.9417  0.9407  0.9411  0.9410  0.9414  0.0007
MAE (testset)     0.7166  0.7155  0.7159  0.7158  0.7147  0.7157  0.0006
Fit time          21.42   21.34   22.64   22.41   20.27   21.62   0.85
Test time         4.13    3.96    3.75    3.66    3.68    3.84    0.18

{'test_rmse': array([0.94263191, 0.94169544, 0.94073964, 0.94113804, 0.94101365]),
 'test_mae': array([0.71656058, 0.71549708, 0.71586762, 0.71583853, 0.71474921]),
 'fit_time': (21.420164823532104,
  21.34011173248291,
  22.64440608024597,
  22.409905910491943,
  20.27314043045044),
 'test_time': (4.131307125091553,
  3.961867570877075,
  3.752971887588501,
  3.661221742630005,
  3.679173231124878)}

In [21]:
mod_entrenado = data.build_full_trainset()

In [22]:
mod_entrenado

In [23]:
model.fit(mod_entrenado)

In [25]:
def recomendacion(userid,movieid):
    predicion=model.predict(userid,movieid)

    if predicion.est >=3.5:
        print("la pelicula te puede gustar")
    else:
        print("la pelicula no te va a gustar")

In [26]:
recomendacion(235,"ns456")

la pelicula te puede gustar

In [20]:

import pickle

In [24]:
with open('modelo.sav', 'wb') as f:
    pickle.dump(model.fit(mod_entrenado), f)

In [ ]:
https://huggingface.co/spaces/Francomyburg/appmovie1