In [1]:
import pandas as pd

In [2]:
df=pd.read_parquet("datasetml/df_mlfinal.parquet")

In [3]:
df

,title,id,userId,score,countUser
0,the grand seduction,as1,2523,3.5,234
1,elon musk: the real life iron man,as15,2523,3.5,234
2,world war ii: saving the reality,as69,2523,4.0,234
3,ufotv presents the day before disclosure,as238,2523,4.0,234
4,the wedding night,as400,2523,4.5,234
...,...,...,...,...,...
2748513,kanika,ns7169,15556,3.0,56
2748514,ocean's twelve,ns7640,15556,3.5,56
2748515,superfly,ns8128,15556,1.0,56
2748516,the model,ns8426,15556,2.0,56
2748517,yes or no,ns8778,15556,2.5,56

In [4]:

from surprise import Dataset
from surprise import Reader

In [5]:
reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(df[["userId","id","score"]],reader=reader)

In [6]:
from surprise import SVD,KNNBasic
from surprise.model_selection import cross_validate

In [9]:
#sim_options = {'name': 'cosine'}

In [7]:
model=SVD()
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9411  0.9421  0.9417  0.9402  0.9424  0.9415  0.0008
MAE (testset)     0.7155  0.7157  0.7164  0.7146  0.7164  0.7157  0.0007
Fit time          21.42   21.38   21.71   21.06   21.30   21.37   0.21
Test time         3.49    3.22    3.51    3.50    3.53    3.45    0.12

{'test_rmse': array([0.94106464, 0.9421323 , 0.94171866, 0.94018261, 0.94244221]),
 'test_mae': array([0.7154832 , 0.71570022, 0.71636008, 0.71456696, 0.71636763]),
 'fit_time': (21.424676179885864,
  21.37716579437256,
  21.711939096450806,
  21.063746213912964,
  21.296743392944336),
 'test_time': (3.4900951385498047,
  3.2216732501983643,
  3.509159564971924,
  3.496400833129883,
  3.5343708992004395)}

In [8]:
mod_entrenado = data.build_full_trainset()

In [9]:
mod_entrenado

In [13]:
model.fit(mod_entrenado)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [10]:
def recomendacion(userid,movieid):
    predicion=model.predict(userid,movieid)

    if predicion.est >=3.5:
        print("la pelicula te puede gustar")
    else:
        print("la pelicula no te va a gustar")

In [13]:
recomendacion(235,"ns456")

la pelicula te puede gustar