In [34]:
from pandasql import sqldf
import pandas as pd
data=pd.read_csv("datfinal.csv")

In [16]:
def get_max_duration(y:str="'%'",p:str="'%'",d:str="'%'"):
    """la funcion recibi como parametros opcionales año,plataforma o tipo de duracion y retorna
        la pelicula con mayor duracion"""
    
    if p=="netflix":
        p="'n%'"
    elif p=="amazon":
        p="'a%'"
    elif p=="hulu":
        p="'h%'"
    elif p=="disney":
        p="'d%'"

    query=f"SELECT title,MAX(duration_int),duration_type FROM data WHERE id LIKE {p} AND release_year LIKE {y} AND duration_type LIKE {d}"
    result=sqldf(query)

    return result

In [17]:
a=get_max_duration(2010,"netflix")

In [18]:
a.iloc[0,0],a.iloc[0,1],a.iloc[0,2]

('aurora', 186.0, 'min')

In [23]:
def get_score_count(platform:str,score:int,year:int):
    """la funcion recibe plataforma de streaming,año y puntaje del cual se busca
        la cantidad de peliculas con un puntaje mayor al indicado"""
    if platform=="netflix":
        platform="'n%'"
    elif platform=="amazon":
        platform="'a%'"
    elif platform=="hulu":
        platform="'h%'"
    elif platform=="disney":
        platform="'d%'"
    
    query=f"SELECT score,COUNT(*) AS cantidad_de_peliculas FROM data WHERE id LIKE {platform} AND release_year={year} AND score >{score}"
    response=sqldf(query)
    finalresponse=f"la cantidad de peliculas con un score mayor a {score} es {response.iloc[0,1]}"
    
    return finalresponse

In [24]:
get_score_count("netflix",3.5,2015)

'la cantidad de peliculas con un score mayor a 3.5 es 204'

In [30]:
data

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type,score
0,0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min,3.5
1,1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110.0,min,3.5
2,2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74.0,min,3.5
3,3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69.0,min,3.5
4,4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45.0,min,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,22993,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158.0,min,3.4
22994,22994,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2.0,seasons,3.5
22995,22995,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88.0,min,3.4
22996,22996,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88.0,min,3.6
22997,22997,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111.0,min,3.5

In [49]:
def get_actor(platform:str,year:int):
    """la funcion devuelve la cantidad de veces que aparece un actor segun la plataforma
       y año indicados en la query"""
    if platform=="netflix":
        platform="'n%'"
    elif platform=="amazon":
        platform="'a%'"
    elif platform=="hulu":
        platform="'h%'"
    elif platform=="disney":
        platform="'d%'"
    
    query=f"SELECT casting FROM data WHERE id LIKE {platform} AND release_year={year}"
    platform=sqldf(query)
    dfactor=platform.casting.str.split(",")
    dic={}
    for x in range(dfactor.shape[0]):
        if dfactor.iloc[x]==None:
            pass
        else:
            for actor in dfactor.iloc[x]:
                actorws=actor.strip()
                if actorws in dic:
                    dic[actorws] +=1
                else:
                    dic[actorws]=1
    try:
        finalresponse=f"El actor que mas veces se repite es {max(dic, key=dic.get)} con apariciones en {dic[max(dic, key=dic.get)]} titulos"
    except:
        finalresponse="error en la base de datos"
    
    return finalresponse

In [50]:
get_actor("hulu",2011)

'error en la base de datos'